.pageNav {
  position: fixed;
  top: 39px;
  width: 100%;
  background: #200F65;
  z-index: 1; }
  .pageNav .pageNavMenu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: .2em 0;
    margin: 0 .8em; }
    @media screen and (max-width: 750px) {
      .pageNav .pageNavMenu span {
        display: none; } }
