@import '../styles/variables.scss'; 
.pageNav{
    position: fixed;
    top: 39px;
    width: 100%;
    background: $blue_02; 
    z-index: 1; 
  
    .pageNavMenu{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: .2em 0;
        margin: 0 .8em;
        @media screen and (max-width: 750px){
            span{
                display:none;
            }
        }
    }
}

