.Pagination {
  width: 100%;
  text-align: center; }
  .Pagination a {
    background: #F2F5F8;
    padding: 8px 12px;
    margin: 2px;
    color: #333;
    text-decoration: none; }
    .Pagination a:hover, .Pagination a:active, .Pagination a:focus {
      color: #5f4bb1;
      border: none;
      outline: none; }
    .Pagination a:visited {
      color: inherit; }
    .Pagination a svg {
      transform: translateY(1px);
      margin: 0 2px;
      width: 18px;
      font-size: .8rem; }
