@import '../styles/variables.scss'; 
.Pagination{
    width: 100%;
    text-align: center;
    a{
        background: $blue_04;
        padding: 8px 12px;
        margin: 2px;
        color: #333;
        text-decoration: none;
        &:hover, &:active,&:focus{
            color: $blue_022;
            border: none;
            outline: none;
        }
        &:visited{
            color: inherit;
        }
        svg{
            transform: translateY(1px);
            margin: 0 2px;
            width: 18px;
            font-size: .8rem;
        }
    }
    
}
.pageNav{
    position: fixed;
    top: 39px;
    width: 100%;
    background: $blue_02; 
    z-index: 1; 
  
    .pageNavMenu{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: .2em 0;
        margin: 0 .8em;
        @media screen and (max-width: 750px){
            span{
                display:none;
            }
        }
    }
}
