.hideSidebar {
  color: #9091be;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: .8rem;
  right: .8rem; }

.closeSidebar {
  background: transparent;
  border: 0;
  padding: .4em;
  cursor: pointer; }

.sidebar {
  max-width: 300px;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  background: #F2F5F8;
  height: 100vh;
  min-height: 700px;
  box-shadow: 3px 0 24px 2px rgba(0, 0, 0, 0.6);
  transform: translateX(110%);
  transition: .3s;
  z-index: 2; }
  .sidebar.is-active {
    transform: translateX(0);
    height: 100vh; }
