//Colors (the tints follow from dark to light)

//Blue
$blue_01: #15164D;
$blue_02: #200F65;
$blue_021:#332374;
$blue_022:#5f4bb1;
$blue_03: #5E5F8D;
$blue_031:#dae2ea;
$blue_04: #F2F5F8;

//Grey
$grey_01: #777777;
$grey_02: #bababa;

$mobile: 400px!default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;

// 960px container + 4rem
$desktop: 960px !default;

// 1152px container + 4rem

$widescreen: 1152px !default;
$widescreen-enabled: true !default;

// 1344px container + 4rem
$fullhd: 1344px !default;
$fullhd-enabled: true !default;




//media
$phone: 760px;



