@import url('https://fonts.googleapis.com/css?family=Lora|PT+Sans');
@import '../../styles/variables.scss'; 
@import '../../styles/mixins.scss';

html {
   font-family: "PT Sans",sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 40px;
  margin: .67em 0;
  @include fluid-type($mobile, $desktop, 22px,40px);

}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}

kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
code{
  font-family: inherit;
  font-size: inherit;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: #292929;
   font-family: "PT Sans",sans-serif;
  letter-spacing: .1px;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'Roboto', sans-serif;
  -ms-font-feature-settings: 'Roboto', sans-serif;
  -webkit-font-feature-settings: 'Roboto', sans-serif;
  font-feature-settings: 'Roboto', sans-serif;
  max-width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  color: inherit;
  font-family:  'Roboto', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  color: inherit;
   font-family: "PT Sans",sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.2rem;
  line-height: 1.1;
  letter-spacing: .2px;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: .8rem;
  color: inherit;
   font-family: "PT Sans",sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  color: inherit;
   font-family: "PT Sans",sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  color: inherit;
   font-family: "PT Sans",sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  color: inherit;
   font-family: "PT Sans",sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  line-height: 1.5;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
}
blockquote {
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
  font-style: italic;
  margin-inline-start: 0;
  &.intext{
    padding: 2rem 0;
    margin: 3rem 0;
    border-top: 1px solid $blue_031;
    border-bottom: 1px solid $blue_031;
    p,cite{
      font-family: "Lora", serif;
      font-size: 21px;
      line-height: 1.7;
    }

  }
  &:not(.intext){    
    margin-left:  7.45rem;
  }  
  footer{
    text-align: right;
  }
  cite{
    display: block;
    text-align: right;
  }
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.6rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
 /* margin-bottom: calc(1.45rem / 2);*/
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  //font-size: 0.85rem;
  //line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: none;// hsla(0, 0%, 0%, 0.04);
  border-radius: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}
pre code {
  background: none;
  line-height: inherit;
}
code:before,
code:after{
  letter-spacing: inherit;
  content: '';
}
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
/*Custom Styles*/
a[class^=note_]{
  position: relative;
}
a[class^=note_]:before{
  content: attr(note);
  position: absolute;
  bottom: 1.2em;
  left: 0;
  background: #ebf6fd;
  width: 300px;
  padding: 1em;
  border-radius: 4px;
  font-size: .8em;
  color: #333;
  display: none;
}
a[class^=note_]:hover:before{
  display: block;
}
a[class^=note_]:hover{
  background: #ebf6fd;
  text-decoration: none;
}
.main-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* Custom Styles */
/*Header*/
div[class^='Header-module'] a > svg{
  margin: 0.6em 0.6em 0px;
}
ul[class*="pageNavMenu"] li > a, ul[class*="pageNavMenu"] li > a:visited{
  color: #fff;
  text-decoration: none;
}
ul[class*="pageNavMenu"] li > a > svg{
  font-size: 63%;
  vertical-align: middle;
  margin-top: -2px;
}
.is-active{
  transform: translateX(0); 
}
#closeNav{
  z-index: -1;
    &.is-active{
      z-index: 2;
      height: 100vh;
    }
 }
/*   Pagenotes in the Sidebar  */

#hideSidebar{
 
    svg{
       transform: translateY(3px);
    }   
}
.sidebar{
    max-width: 330px;   
    width: 80%;
    position: absolute;
    padding: 3rem 1px;
    top: 0;
    right: 0;
    background: $blue_04;
    height: 100vh;
    box-shadow: 3px 0 87px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(110%);
    transition: .3s;
    z-index: 2;
    overflow-y: scroll;
    min-height: fit-content;
    &.is-active{
        transform: translateX(0); 
        
    }

    p{
      padding: 4rem 1rem 2rem 3rem;
    }
}

/*  Page Content */
.pageContent{
  margin: 2em auto;
  max-width: 960px;
  padding: 0 1.0875rem 1.45rem;
  padding-top: 0;
}
.pageContent > h1, .pageContent > h2, .pageContent > .subTitle{
  text-align: center;
}
.pageContent a h2,.pageContent a h3, .pageContent a p{
  color: #333;
}
.subTitle{
  max-width: 80%;
  margin: 0 auto 2em;
}
.post-list-item{
  padding-bottom: 1em;
}
.postDate,.subTitle{
  font-size: 90%;
  font-style: italic;
  line-height: 1.2em;
  color: $blue_022;
}
.mainLink.disabled svg,.mainLink.disabled {
  color: #bdbdbd;
  fill:  #bdbdbd;
}
.link-to-post{
  text-decoration: none;
}
main{
  padding-top: 73px;
}
/* Posts */
.postContent{
  margin: 2em  auto;
  max-width: 700px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
  blockquote{
    font-style: normal;
    font-family: 'Lora', serif;
    color: $blue_022;
    background: #F2F5F8;
    padding: 1em;
    margin: 0 0 1.4rem;
  }
}
.custom-block{  
  margin-bottom: 1%;
  margin-top: 1rem;
  &.alignLeft{
    float: left;    
    margin-right: 3%;
    width: 47%;
  }
  &.alignRight{
    float: right;
    padding-left: 3%;
    width: 49%;
    margin-left: 3%;
    background: #fff;
  }
  &.imageBorder{
    img{
      border: 7px solid #e0e0e0;
    }
  }
}

.alignRight{
  text-align: right;
}
.chapterNum,.alignCenter{
  text-align: center;
}

@media screen and (max-width: $phone){
  .custom-block{
    &.alignLeft, &.alignRight{
      float: none;
      width: 100%;
      margin-right: 0;
      display: block;
    }
  }

  .mainLinks{
    a{
      padding: 6% 5%;
      margin: .2em;
      font-size: 1.2em;
      min-width: 7em;
    }
    flex-direction: column;
  }
}

// 
// footnotes
//
.pagenote {
  z-index: 123;
  position: absolute;
  height: fit-content;
  width: 306px;
  line-height: 1.2;
  bottom: -7em;
  left: 0;
  transform: scale(0) translateX(-50%);
  border-radius: 3px;
  font-size: .9rem;
  transition: .3s;
  &.is-active{
    top: 2rem;
    transform: scale(1) translateX(-50%);
    transition: .3s;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.4);
  }

  p{
    background: #fff;
    padding: 1rem;
    margin: 0;
    border-radius: 3px;
  }
}
.tooltip{
  content: '';
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fafafa;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
  top: -7px;
  z-index: -1;
  left: 146px;
}
.footnote-ref{
  position: relative;
  background: $blue_031;
  padding: 2px 7px;
  border-radius: 50%;
  text-decoration: none;
}

.scrollTop{
  opacity: .7;
}