@import '../../styles/variables.scss';

.closeNav, #closeNav{
    width: 100%;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: pointer;
    height: 40px;
    &.is-active{
        height: 100vh;
    }
}
.mobileNav{
    max-width: 300px;   
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    height: 100vh;
    min-height: 700px;
    box-shadow: 3px 0 87px -5px rgba(0,0,0,0.2);
    transform: translateX(-155%);
    transition: .3s;
    z-index: 2;
    &.is-active{
        transform: translateX(0); 
        height: 100vh;
    }
    div.sidebarHead{
        background: $blue_01;
        opacity: .82;
        text-align: center;
        padding: 1em 1.2em;
        a{
            text-decoration: none;
        }
        h2{
            line-height: 1.3em;
            color: #fff;
        }
        img{
            margin: 2em auto 1em;
            width: 70px;
            height: 70px;
        }
    }
    ul{
        list-style-type: none;
        margin: 0;
        li{
            padding: 1em;
            border-top: 1px solid $grey_02;
            font-size: 17px;
            svg{
                fill: $grey_02;
                margin-right: .7em;
                height: 1.3em;
                width: 1.3em;
                transform: translateY(0.2em);
            }
            a{
                color: $blue_01;
                text-decoration: none;
                &:hover{
                    
                }
            }
        }
    }
}
.navButton{
    background: transparent;
    border: 0;
    padding: .4em;
    cursor: pointer;
}
