.closeNav, #closeNav {
  width: 100%;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  cursor: pointer;
  height: 40px; }
  .closeNav.is-active, #closeNav.is-active {
    height: 100vh; }

.mobileNav {
  max-width: 300px;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  height: 100vh;
  min-height: 700px;
  box-shadow: 3px 0 87px -5px rgba(0, 0, 0, 0.2);
  transform: translateX(-155%);
  transition: .3s;
  z-index: 2; }
  .mobileNav.is-active {
    transform: translateX(0);
    height: 100vh; }
  .mobileNav div.sidebarHead {
    background: #15164D;
    opacity: .82;
    text-align: center;
    padding: 1em 1.2em; }
    .mobileNav div.sidebarHead a {
      text-decoration: none; }
    .mobileNav div.sidebarHead h2 {
      line-height: 1.3em;
      color: #fff; }
    .mobileNav div.sidebarHead img {
      margin: 2em auto 1em;
      width: 70px;
      height: 70px; }
  .mobileNav ul {
    list-style-type: none;
    margin: 0; }
    .mobileNav ul li {
      padding: 1em;
      border-top: 1px solid #bababa;
      font-size: 17px; }
      .mobileNav ul li svg {
        fill: #bababa;
        margin-right: .7em;
        height: 1.3em;
        width: 1.3em;
        transform: translateY(0.2em); }
      .mobileNav ul li a {
        color: #15164D;
        text-decoration: none; }

.navButton {
  background: transparent;
  border: 0;
  padding: .4em;
  cursor: pointer; }
