@import '../styles/variables.scss';
.pageContent{
    
    h1{
        max-width: 9em;
        margin: 0 auto 1em;
        color: $blue_02;
    }
    .article{

    }
}
.homePage{
    text-align: center;
}
.mainLinks{
    display: flex;
    justify-content: center;
    a{
        background: $blue_04;
        padding: 3em 2em;
        text-decoration: none;
        margin: .2em;
        font-size: 1.2em;
        min-width: 10em;
        padding: 6% 5%;
        margin: .2em;
        font-size: 1.2em;
        min-width: 7em;
        flex-basis: 32%;
        color: $blue_021;
        &:active, &:focus, &:hover{
            color: $blue_022;
        }
        &:visited{
            color: inherit;
            &:active, &:focus, &:hover{
                color: $blue_022;
            }
        }
        svg{
            fill: $blue_02;
            height: 1.3em;
            width: 1.3em;
        }
        &.disabled{
            svg{
                opacity: .3;
            }
        }
    }
    
 }
   
