.pageContent h1 {
  max-width: 9em;
  margin: 0 auto 1em;
  color: #200F65; }

.homePage {
  text-align: center; }

.mainLinks {
  display: flex;
  justify-content: center; }
  .mainLinks a {
    background: #F2F5F8;
    padding: 3em 2em;
    text-decoration: none;
    margin: .2em;
    font-size: 1.2em;
    min-width: 10em;
    padding: 6% 5%;
    margin: .2em;
    font-size: 1.2em;
    min-width: 7em;
    flex-basis: 32%;
    color: #332374; }
    .mainLinks a:active, .mainLinks a:focus, .mainLinks a:hover {
      color: #5f4bb1; }
    .mainLinks a:visited {
      color: inherit; }
      .mainLinks a:visited:active, .mainLinks a:visited:focus, .mainLinks a:visited:hover {
        color: #5f4bb1; }
    .mainLinks a svg {
      fill: #200F65;
      height: 1.3em;
      width: 1.3em; }
    .mainLinks a.disabled svg {
      opacity: .3; }
