@import '../../styles/variables.scss';

.headerTop{
    background: $blue_01;
    margin-bottom:0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    z-index: 3;
}

.headerSiteTitle{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    flex-basis: 100%;
    h2{
        margin: 0 0 0 2%;
        font-size: 90%;
        color: #fff;
        padding: .7em 2.8% .7em 0;
        letter-spacing: .5px;
    }
}

